/* font family: orbitron*/
body {
    display: flex;
    justify-content: center;
}
#container {
    background-color: #444;
    width: 480px;
    height: 700px;
    border:#272727 solid 5px;
    border-radius: 30px;
}

#resultcontainer {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content:space-evenly;

    background-color: #bcc399;
    margin: 48px 24px 24px 24px;
    height: 100px;

    font-family: "Orbitron";
    border: #c3c3c3;
    border-width: 20px;
    border-radius: 20px;
    border-style:ridge;
}
#operations {
    margin-right: 10%;
}
#result {
    margin-right: 10%;
    font-size: 30px;
}

/*Button menu*/
button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 65px;
    width: 95px;
    background-color: #cecece;

    border-color: #eddede;
    border-width: 3px;
    border-style:double;
    border-radius: 10px;

    color: #3D3D3D;
    font-family: "Orbitron";
    font-size: 40px;
    font-weight: bolder;
}
button:hover {
    filter: brightness(85%);
}
button:active {
    transform: scale(0.9,0.9);
}
#buttonAC,#buttonCE {
    color: white;
    background-color: #4150dd;
    border-color: #3361ab;
}

#buttoncontainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    
    height:440px;
}
#columnone,
#columntwo,
#columnthree,
#columnfour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttonplus {
    display: flex;
    flex-grow: 0.51;
}
